.logo{
    border-radius: 50%;
    max-height: 55px;
    max-width: 55px;
}

nav{
    background-color: #191A19;
    font-family: Roboto,sans-serif;
}
.item-carrossel{
    display: flex;
    justify-content: space-evenly
}

.corpoSite{
    background-color: white;
    font-family: Roboto,sans-serif;
    padding: 80px;
}
.carousel-indicators{
    display: block;
}
.destaque{
    background-color: lightgray;
}

.video-destaque{
    margin-bottom: 30px;
    margin-left: 30px;
}

.destaque-titulo{
    font-family: Roboto,sans-serif;
    font-weight: bold;
    text-align: center;
    display: block;
}

#titulo-destaque{
    text-align: center;
}

.text{
    display: inline-block;
}

.lancamentos{
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

.lancamentosTitulo{
    display: inline-block;
    font-family: Roboto,sans-serif;
    font-weight: bold;
    position: absolute;

}

.dropdown{
    display: inline-block;
    margin-top: 5px;
    position: absolute;
    left:73%;
}


#carregarMais{
    ;
}

.boldTitulo{
    font-family: Roboto,sans-serif;
    font-weight: bold;
    font-size: 30px;
}