.logo{
    border-radius: 50%;
    max-height: 55px;
    max-width: 55px;
}

nav{
    background-color: #191A19;
    font-family: Roboto,sans-serif;
}
.item-carrossel{
    display: flex;
    justify-content: space-evenly
}

.carousel-indicators{
    display: block;
}
.destaque{
    background-color: lightgray;
}

.video-destaque{

    margin-bottom: 30px;
    margin-left: 30px;
}

.destaque-titulo{
    font-family: Roboto,sans-serif;
    font-weight: bold;
    text-align: center;
    display: block;
}

.texto-destaque{
    
}

.lancamentos{
    margin: 30px;
}



.lancamentosTitulo{
    display: inline-block;
    font-family: Roboto,sans-serif;
    font-weight: bold;
}

.dropdown{
    display: inline-block;
}

#titulo-destaque{
    text-align: center;
}

.text{
    display: inline-block;
}


